# Quarantined & Raw Assets (Not needed in production)
_backup_unused_assets/
raw-assets/

# Build & OS Artifacts
.DS_Store
Thumbs.db
*.log
*.exe

# Vercel
.vercel
node_modules/

# Vendor Packages & Archives
IceMaster_Vendor_Catalog_Package/
*.zip
